<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEAe_gP5nP-ro5eosM168pq9Faw6TorWo</string>
	<key>GCM_SENDER_ID</key>
	<string>667399694504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test1.MapsAPI</string>
	<key>PROJECT_ID</key>
	<string>cmu443team12</string>
	<key>STORAGE_BUCKET</key>
	<string>cmu443team12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667399694504:ios:e9ecac11184143b2d23a9d</string>
</dict>
</plist>